@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* All the colors and fonts */
:root{
    --primary-color: #363A2C;
    --secondary-color: #A7E9F1;
    --accent1-color: #E8E1C5;
    --accent2-color: #7A3B69;
    
    --heading-font: 'Nunito Sans', serif;
    --paragraph-font: 'Nunito', serif;

    --nav-background-color: #a7e9f1;
    --nav-link-color: #363A2C;
    --nav-hover-link-color: #e8e1c5;
    --nav-hover-background-color: #7a3b69;
}
/* giving all words colors and fonts */
*{
    color: var(--primary-color);
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    align-items: center;
    background-color: var(--accent1-color);
    border: 2px solid var(--accent2-color);
    padding: 1px;

    display: grid;
    grid-template-columns: 300px 2fr;
    justify-content: center;
}

header image{
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    padding: 1px;

} 

/* alll the nav stuff */
nav a{
    display: block;
    text-decoration: none;
    align-items: center;
}
.navigation{
    display: flex;
    list-style: none;
    justify-content: right;
}
.navigation li{
    flex: 1 1 100%;
}
.navigation a{
    display: block;
    text-decoration: none;
    padding: 10px;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Big image's box */
.hero{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* Big image */
.hero img{
    z-index: 0;
    display: block;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: auto;
}
/* title */
.hero h1 {
    grid-row: 1;
    z-index: 1;
    grid-column: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    color:#000000;
}
/* text article in Big Image */
.hero article{
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    transform: translate(20%, 50%);
    /* align-content: baseline; */
    max-height: 50%;
    max-width: 75%;
    background-color: rgba(241, 241, 241, 0.5);
    text-align: center;
}
/* Small image next to text article */
.hero article img{
    z-index: 1;
    /* float: right; */
    width: 200px;
    height: auto;
}
/* Body */
body{
    padding: 20px;
}

/* All sections */
section{
    display: block;
    padding: 20px;
    border: 5px solid var(--accent2-color);
    align-items: center;
}
.information{
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 1fr;
    justify-items: center;
}
.map-and-items{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

/* Form for contact us */
form{
    padding: 1px;
    display: grid;
    grid-gap: 1px;
    border-top: 0px solid #fff;
    border: 5px solid var(--accent2-color);
}
fieldset{
    display: grid;
    grid-gap: 5px;
}
input, select, textarea{
    padding: 5px;
    font-size: 1.1rem;
}
label{
    text-align: left;
}
input[type="text"]{
    width: 500px;
    padding: 5px;
}
input[type="email"]{
    width: 500px;
    padding: 5px;
}
input[type="checkbox"]{
    vertical-align: bottom;
}
.form-item{
    display: grid;
    align-items: center;
    padding: 5px;

}
.text-div{
    grid-template-columns: 3fr 500px 2fr;
    margin: 0.5rem 0;
    padding: 5px;
    justify-items: center;
}
.purpose-div{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
.subscribtion-div{
    grid-template-columns: 3fr 1fr 5fr;
    margin: 0.5rem 0;
    justify-items: center;
}




button{
    margin: 1rem;
    width: 200px;
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
    justify-self: center;
}

button:hover{
    border: 5px solid navy;
}
input:hover{
    border: 1px solid navy;
}

/* footer */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.social-links{
    display: flex;
    grid-column: 3;
    justify-content: space-around;
}
