*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* colors: https://coolors.co/4682b4-012a36-c4d4c8-8f985d */


nav{
    background-color: #4682b4;
    padding: 10px;
}

main{
    max-width: 840px;

}

aside{
    position: relative;
    width: 900px;
    color: #012A36;
    text-align: center;
}
aside h2{
    position:absolute;
    top: 120px;
    left: 330px;
    color: #012A36;
}
aside img{
    width: 200px;
    height: auto;
}

Nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: #4682b4;
}
main img{
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;

}
p{
    padding: 0;
}
footer{
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}

/*Class Selectors */

.box{
    margin: 1rem;
    border: 1rem solid #C4D4C8;
    padding: 1rem;
    background-color: #AAB181;
}